a{
  text-decoration: none;
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: black;
}


.header {
    background-color: #0a0a0a;
    padding: 33px 0 32px;
    color: #717171;
    font-size: 24px;
    line-height: 29px; 
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-item{
  padding-right: 30px;
}

.phone{
   flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

.headline{
  color: #F5F5F7;
  text-align: center;
  padding: 70px 0 40px;
}

.title{
  color: #490E84;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  margin-bottom: 0 0 40px;
}

.headline-img{
  margin-bottom: 25px;
  
}

.headline-btn{
  display: inline-block;  
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 20px 117px;
  background-color: #490E84;
  border-radius:30px
   ;
}

.new {
  padding: 90px 0 150px;
}

.new-title {
  margin: 0 0 50px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;

}
.new-info {
  display: flex;
  align-items: center;
}
.new-text p{
  max-width: 560px; 
  margin: 0 0 30px;
}

.new-text b{
  
  max-width: 560px;
  font-style: 20px;
  line-height: 26px;
  display: block;
  
}

.new-img {
  margin-left: 190px;
}
